@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*
    point font : font-family: 'Gowun Batang', serif;
*/
*{list-style-type: none;}
body{margin:0 auto;position: relative;}

#body-wrapper{min-height: 969px; height: auto;}
.article_board{min-width: 1200px; }
.section_board{display: flex; justify-content: center;}
.select_QA{display: flex; align-items: baseline; }
.table_btn{ width:1200px; }
section{margin-top: 50px;}

/* 문의 카테고리 */
#selectbox{height:40px; font-family: Pretendard;}

h1{font-size: 30px; font-family: 'Gowun Batang', serif; margin-left: 400px;}

/*게시판*/
.tablehead{background-color: #dbdbdb; }
table{border-collapse: collapse; text-align: center; width:1200px; font-family: Pretendard; margin-top: 20px;}
tr{height:50px;}
.tabletr{border-bottom: 1px #757575 solid;}
#answercount{color:#01579b}
.inquiry_ans{text-align: left; display: flex; align-items: center;}
.tabletr td:nth-child(4){padding-top: 13px;}


/*목록 & 글쓰기*/
#listbtn, #writebtn{width:90px; height:30px; background-color: #e0e0e0; border:0; outline:0; border-radius: 5px; font-family: Pretendard;}
.buttondiv{display: flex; justify-content: end; margin-top: 30px;}

/*페이징*/
.paging{display: flex; justify-content: center; font-family: Pretendard;}
.paging ul{text-align:center; }
.paging ul li{display: inline-block;background-color: #e0e0e0; width:25px; height:25px; border-radius: 5px; padding-top: 2px;}








/*검색*/
.search_box{display: flex; justify-content: center; margin-top: 30px;}
#search_form{display:inline; }
form{position:relative;}
#search_category{width:100px; font-family: Pretendard;}
#btn_text{width:300px; height: 30px;}
#btn_search{font-weight: 900; font-family: Pretendard; background-color: transparent; border:none; cursor: pointer; position:absolute; right:5px; top:5px;}














*{margin: 0; padding: 0;}
li{font-family: Pretendard;}
/* 로고 */
#logo{width: 120px; height: 70px;}

/* 상단 박스 */
.top{background-color: #EAEAEA;}
.top ul{padding: 0; text-align: center; display: flex; justify-content: right;}
.top ul li{display: inline-block; width: 60px; height: 33px; list-style:none; font-size: 14px;display: flex; align-items: center;padding:0 5px;}
a{text-decoration: none; color: black; font-size: 15px;}

/* 네비 */
.ulul{width:800px; justify-content: center;}
.nav{display: flex; justify-content: space-between; align-items: center;}
.nav>div:nth-child(2)>ul>li{display: flex; align-items: center;}
.nav ul{list-style-type: none; text-align: right; flex-direction: row; flex-wrap: nowrap; display: flex;}
.nav img{width: 35px; height: 35px;}
#sc{width: 25px; height: 25px;}
.search{background-color: #eceaea77; height:35px; width: 180px; display: flex; align-items: center; color: #999999;}
.search>input{outline: unset; border: unset; background-color: unset;}
.ct{margin:10px; font-weight:500; font-size: 18px;}
.nav>div:nth-child(3)>ul>li{align-items: center; margin: 5px;}
.nav>div:nth-child(3)>ul>li>a>img{width: 25px; height: 25px;}
.nav>div:nth-child(3)>ul{display: flex; align-items: center;}


/* 푸터 */
#introduce{left: 35vw; font-size: 14px; top: 1.5vw; position: relative; color: #616060; font-family: 'Gowun Batang', serif;}
footer>div>ul>li{display: inline-block; left: 38.5vw; position: relative; top: 12px; color: #6d6d6d; font-family: 'Gowun Batang', serif;}
footer li>a{color: #6d6d6d;}
#ft{background-color: #EAEAEA; height: 80px; position: relative; top: 2.5vw;}
#copy{left: 35vw; position: relative; top: 20px; color: #3b3b3b; font-family: 'Gowun Batang', serif;}
footer{width: 100%; position: absolute; bottom: -7%; left: 0;}



