@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


*{margin: 0; padding: 0; font-family: Pretendard;}
button{ width: 50px; height: 30px; font-size: 15px; 
        background-color: #EAEAEA; border-color: #EAEAEA;
        margin-left: 100px;}
#head{font-size: 30px; margin: 30px; margin-top: 60px;}
header{margin-bottom: 80px;}
p{font-size: 25px; }

.combi{display: flex;}
div{margin-left: 40px; margin-bottom: 20px;}
#img{height: 300px; margin-right: 70px;}

#ta{width: 500px; height: 250px;}
#ip{width: 500px; height: 30px;}