@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*
    point font : font-family: 'Gowun Batang', serif;
        basic font : font-family: Pretendard;
*/

*{text-decoration: none; list-style-type: none; color:black; font-family: Pretendard; font-size: 20px;}
body{margin:0 auto; }

h1{font-family: 'Gowun Batang', serif; font-size: 40px;}
h2{font-family: 'Gowun Batang', serif; font-size: 30px;}

.article_notice{min-width: 1000px; display: grid; justify-content: center;}

/*공지테이블*/
.tablenotice {border-top:2px solid black; width:1000px; border-bottom:1px solid #757575; border-collapse: collapse;}

.bordertd, .title{border-bottom:1px solid #757575;}
tr{height:50px; font-size: 18px;}
.date{font-size: 15px;}
.title{background-color: #bdbdbd; text-align: center; width:20%}
#bottomtr{height: 500px;}

/*목록보기 버튼*/
#Tolist{width:200px; height:45px; font-size: 17px;  border-radius:5px; background-color: #bdbdbd; border: #bdbdbd;  color:black; margin-top: 20px;}

/*다음글*/
.nextcontent{background-color: #bdbdbd; text-align: center; width:20%; }
.next{border-bottom: 1px solid #757575; border-top: 1px solid #757575; border-collapse: collapse; margin-top: 50px;}